<div class="baris">
    <div class="row">
        <div class="col s12">
            <H4><b>INPUT PEMBAYARAN</b></H4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col s12">
            <table class="highlight" style="font-size: x-small;">
                <thead>
                    <tr>
                        <th class="center">NO</th>
                        <th class="center grey lighten-3">ID SERVICE</th>
                        <th class="center">DATE IN</th>
                        <th class="center grey lighten-3">CUSTOMER</th>
                        <th class="center">NOPOL</th>
                        <th class="center grey lighten-3">STATUS</th>
                        <th class="center grey lighten-3"> </th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data}}
                    <tr>
                        <td class="center">1.</td>
                        <td class="center grey lighten-3">{{ id_service }}</td>
                        <td class="center">{{ date_in }}</td>
                        <td class="center grey lighten-3">{{ customer_name }}</td>
                        <td class="center">{{ nopol }}</td>
                        <td class="center grey lighten-3">UNPAID</td>
                        <td class="center"><a href="/app/payment/new/{{ id_service }}"><button class="waves-effect waves-light btn"><i class="material-icons left">attach_money</i>BAYAR</button></a></td>                  
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>