{{#each data}}
<div class="baris">
    <div class="row">
        <div class="col s12">
            <H4><b>INPUT PEMBAYARAN</b></H4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col l2 m2 s6">
            <p>ID SERVICE</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="black-text" type="text" value="{{ id_service }}" disabled>
        </div>
        <div class="col l2 m2 s6">
            <p>TANGGAL MASUK</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="datepicker black-text" type="text" value="{{ date_in }}" disabled>
        </div>
        <div class="col l2 m2 s6">
            <p>CUSTOMER</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="black-text" type="text" value="{{ customer_name }}" disabled>
        </div>
        <div class="col l2 m2 s6">
            <p>ALAMAT</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="black-text" type="text" value="{{ customer_address }}" disabled>
        </div>
        <div class="col l2 m2 s6">
            <p>JENIS KENDARAAN</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="black-text" type="text" value="{{ jeniskendaraan }}" disabled>
        </div>
        <div class="col l2 m2 s6">
            <p>HONDA (1) / NON(0)</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="black-text" type="text" value="{{ merkhonda }}" disabled>
        </div>
        <!-- block -->
        <div class="col l2 m2 s6">
            <p>NOPOL</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="black-text" type="text" value="{{ nopol }}" disabled>
        </div>
        <div class="col l2 m2 s6">
            <p>NO RANGKA</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="black-text" type="text" value="{{ norangka }}" disabled>
        </div>
        <!-- block -->
        <div class="col l2 m2 s6">
            <p>NO MESIN</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="black-text" type="text" value="{{ nomesin }}" disabled>
        </div>
        <div class="col l2 m2 s6">
            <p>SERVICE FINISH</p>
        </div>
        <div class="col l4 m4 s6">
            <input class="datepicker black-text" type="text" value="{{ date_close }}" disabled>
        </div>
        <form>
        <div class="input-field col l6 m6 s12" id="formInputBayar">
            Rincian Pembayaran<br/>
            <div class="row">
                <div class="input-field col l6 m6 s12">
                    <input type="text" class="inputdetailbayar" name="inputdetailbayar1" placeholder="Barang / Jasa">
                    <input type="text" class="inputdetailbayar" name="inputdetailbayar2" placeholder="Barang / Jasa">
                    <input type="text" class="inputdetailbayar" name="inputdetailbayar3" placeholder="Barang / Jasa">
                    <input type="text" class="inputdetailbayar" name="inputdetailbayar4" placeholder="Barang / Jasa">
                    <input type="text" class="inputdetailbayar" name="inputdetailbayar5" placeholder="Barang / Jasa">
                </div>
                <div class="input-field col l6 m6 s12">
                    <input type="number" class="inputbiayabayar" name="inputbiayabayar1" placeholder="Rp.">
                    <input type="number" class="inputbiayabayar" name="inputbiayabayar2" placeholder="Rp.">
                    <input type="number" class="inputbiayabayar" name="inputbiayabayar3" placeholder="Rp.">
                    <input type="number" class="inputbiayabayar" name="inputbiayabayar4" placeholder="Rp.">
                    <input type="number" class="inputbiayabayar" name="inputbiayabayar5" placeholder="Rp.">
                </div>
            </div>
        </div>
        <div class="col input-field l6 m6 s12">
            <input type="number" id="totalbayar">
            <label for="totalbayar">TOTAL</label>
        </div>
        </form>
    </div>
</div>
{{/each}}