{{#each data}}
<input type="hidden" id="biaya1" value="{{biaya1}}">
<input type="hidden" id="biaya2" value="{{biaya2}}">
<input type="hidden" id="biaya3" value="{{biaya3}}">
<input type="hidden" id="biaya4" value="{{biaya4}}">
<input type="hidden" id="biaya5" value="{{biaya5}}">
<input type="hidden" id="totalbiaya" value="{{totalbiaya}}">
<input type="hidden" id="totalbayar" value="{{totalbayar}}">
<input type="hidden" id="totalkembalian" value="{{totalkembalian}}">

<div style="width: 7cm; font-family:'Courier New', Courier, monospace;">
    <table>
        <tr>
            <td><img src="../../../images/logobinus.webp" style="width: 50px;"></td>
            <td style="text-align:center; font-size:small">
                <p><b>TEACHING FACTORY<br />SMK BINA NUSANTARA SEMARANG<br />Telp/WA 024-8662971</b></p>
            </td>
            <td><img src="../../../images/hona-logo.png" style="width: 50px;"></td>
        </tr>
    </table>
    <br />
    <div style="width: 100%; text-align:center; font-size:small">
        <table style="margin-left:auto; margin-right:auto;">
            <tr>
                <td style="text-align: center;font-weight: bold;">{{id_service}}</td>
                <td style="text-align: center;font-weight: bold;">/ ADMIN / </td>
                <td id="tglnow" style="text-align: center;font-weight: bold;"></td>
            </tr>
        </table>
    </div>
    <div style="width: 100%; text-align:center;font-weight: bold;">
        <b>---------------------------</b>
    </div>
    <div style="width: 100%;">
        <table style="font-size: small; width: 7cm; font-size:small;font-weight: bold;">
            <tr>
                <td><b>BARANG / JASA</b></td>
                <td><b>HARGA</b></td>
            </tr>
            <tr>
                <td id="j1">{{barangjasa1}}</td>
                <td id="b1"></td>
            </tr>
            <tr>
                <td id="j2">{{barangjasa2}}</td>
                <td id="b2"></td>
            </tr>
            <tr>
                <td id="j3">{{barangjasa3}}</td>
                <td id="b3"></td>
            </tr>
            <tr>
                <td id="j4">{{barangjasa4}}</td>
                <td id="b4"></td>
            </tr>
            <tr>
                <td id="j5">{{barangjasa5}}</td>
                <td id="b5"></td>
            </tr>
            <tr>
                <td style="text-align: right;font-weight: bold;">TOTAL &nbsp;</td>
                <td id="b6"></td>
            </tr>
            <tr>
                <td style="text-align: right;font-weight: bold;">BAYAR &nbsp;</td>
                <td id="b7"></td>
            </tr>
            <tr>
                <td style="text-align: right;font-weight: bold;">KEMBALIAN &nbsp;</td>
                <td id="b8"></td>
            </tr>
        </table>
    </div>
    <div style="width: 100%; text-align:center;font-weight: bold;">
        <b>---------------------------</b>
        <p>{{ id_payment }}</p>
        <br />
    </div>
</div>
<script src="../../../js/moment.js"></script>
<script>
    function FormatRupiah(value) {
        var reverse = value.toString().split('').reverse().join(''),
            ribuan = reverse.match(/\d{1,3}/g);
        ribuan = ribuan.join('.').split('').reverse().join('');
        return ribuan;
    }
    function updateLatestDate(sensorsData) {
        return new Date(Math.max.apply(null, sensorsData.map(function (e) {
            return new Date(e.MeasureDate).toUTCString();
        })));
    }
    window.onload = function renderNominal() {
        var b1 = document.getElementById("biaya1").value;
        var b2 = document.getElementById("biaya2").value;
        var b3 = document.getElementById("biaya3").value;
        var b4 = document.getElementById("biaya4").value;
        var b5 = document.getElementById("biaya5").value;
        var b6 = document.getElementById("totalbiaya").value;
        var b7 = document.getElementById("totalbayar").value;
        var b8 = document.getElementById("totalkembalian").value;
        var tglreceipt = moment().format("D-MM-YYYY");
        document.getElementById("b1").innerHTML = "Rp. " + FormatRupiah(b1);
        document.getElementById("b2").innerHTML = "Rp. " + FormatRupiah(b2);
        document.getElementById("b3").innerHTML = "Rp. " + FormatRupiah(b3);
        document.getElementById("b4").innerHTML = "Rp. " + FormatRupiah(b4);
        document.getElementById("b5").innerHTML = "Rp. " + FormatRupiah(b5);
        document.getElementById("b6").innerHTML = "Rp. " + FormatRupiah(b6);
        document.getElementById("b7").innerHTML = "Rp. " + FormatRupiah(b7);
        document.getElementById("b8").innerHTML = "Rp. " + FormatRupiah(b8);
        document.getElementById("tglnow").innerHTML = tglreceipt;
    }

</script>
{{/each}}