<div class="baris">
    <div class="row">
        <div class="col s12">
            <h4><b>SERVICE - NEW ARRIVAL</b></h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn red"><b><i class="material-icons left">arrow_back</i></b></a>
            <a class="waves-effect waves-light btn red"><b><i class="material-icons right">arrow_forward</i></b></a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="highlight" style="font-size: x-small;">
                <thead class="red white-text">
                    <tr>
                        <th class="center">NO</th>
                        <th class="center">ID SERVICE</th>
                        <th class="center" style="width: 10%;">DATE IN</th>
                        <th class="center">CUSTOMER</th>
                        <th class="center">REQUEST</th>
                        <th class="center">NOPOL</th>
                        <th class="center">NO.RANGKA / NO.MESIN</th>
                        <th class="center"> </th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data}}
                    <tr>
                        <td class="center">1.</td>
                        <td class="center grey lighten-3">{{ id_service }}</td>
                        <td class="center" style="width: 10%;">{{ date_in }}</td>
                        <td class="center grey lighten-3">{{ customer_name }}</td>
                        <td>{{ keterangan }}</td>
                        <td class="center grey lighten-3">{{ nopol}}</td>
                        <td class="center">{{ norangka }} / {{ nomesin }}</td>
                        <td class="center"><button class="btn btn-floating red"><i class="material-icons">edit</i></button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>